<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: defaultHead(~{::title})}">
  <title>login page</title>
</head>
<body>
<nav th:replace="~{layout/top :: defaultTop}"></nav>
<div class="container">
  <h1>Login Page</h1>
  <div class="row">
    <h4 class="col-12">아이디와 비밀번호를 입력해주세요</h4>
    <form th:action="@{/login-proc}" class="col-12" method="post">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="아이디" required="required"
               autofocus="autofocus">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호" required="required">
      </div>

      <div class="form-group">
        <label for="remember-me">Remember Me </label>
        <input type="checkbox" id="remember-me" name="remember-me" />
      </div>

      <button type="submit" class="btn btn-lg btn-primary btn-block">로그인</button>
    </form>
  </div>
</div>
<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>