<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout (title, section)">
<head>
  <title th:replace="${title}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css}" />
</head>
<body class="container d-flex flex-column min-vh-100">
<nav th:replace="~{layout/nav :: navbar}"></nav>
<section th:replace="${section}">
  <p>레이아웃 컨텐츠</p>
</section>
<footer class="mt-auto bg-dark text-light">
  <div class="container">
    <p>© 2023 ch-yang. All rights reserved.</p>
  </div>
</footer>
</body>
</html>