<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <title>navbar</title>
</head>
<body>
<nav th:fragment="navbar" class="container my-3">
  <div class="navbar text-light bg-dark">
    <a class="text-light" href="/h2-console"><h4>Spring Security</h4></a>
    <ul class="nav justify-content-end">
      <li class="nav-item" sec:authorize="isAnonymous()">
        <a class="nav-link text-light" th:href="@{/login}">로그인</a>
      </li>
      <li class="nav-item" sec:authorize="isAnonymous()">
        <a class="nav-link text-light" th:href="@{/signup}">회원가입</a>
      </li>
      <li class="nav-item" sec:authorize="isAuthenticated()">
        <a class="nav-link text-light" th:href="@{/logout}">로그아웃</a>
      </li>
      <li class="nav-item" sec:authorize="hasAuthority('ROLE_ADMIN')">
        <a class="nav-link text-light" th:href="@{/admin}">관리자</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/">HOME</a>
      </li>
    </ul>
  </div>
</nav>
</body>
</html>