<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/main :: layout(~{::title},~{::section})}">
<head>
  <title>403 Forbidden</title>
</head>
<body>
<section>
  <div class="bg-transparent container py-5">
    <div class="row">
      <div class="col-md-12 text-center">
        <img src="https://img.freepik.com/free-vector/403-error-forbidden-with-police-concept-illustration_114360-1884.jpg?w=826&t=st=1687689186~exp=1687689786~hmac=8b0c4a085e75f85014e49685a8486c84b666d5b49ff531fb39df0b823a8ee4ee" alt="Forbidden" width="50%" height="auto" style="display:block;margin:auto;text-align:center;vertical-align:middle;">
      </div>
    </div>
  </div>
</section>
</body>
</html>