<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <!-- 부트스트랩 CSS 링크 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <!-- 로그인 되었는지 확인 -->
      <div sec:authorize="isAuthenticated()">
        <p th:text="'환영합니다, ' + ${nickname} + '님! '">Username</p>
        <!-- /logout 경로로 이동하는 링크 생성 -->
        <a href="/logout" class="btn btn-primary">Logout</a>
      </div>
      <div sec:authorize="!isAuthenticated()">
        <!-- /login-page 경로로 이동하는 링크 생성 -->
        <a href="/login-page" class="btn btn-primary">Login</a>
      </div>
    </div>
  </div>
</div>

<!-- 부트스트랩 JS 링크 -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
